.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.form-title {
    font-size: 2em;
    margin-bottom: 20px;
}

.input-field {
    max-width: 600px;
    max-height: 100px;
    margin-bottom: 20px;
    border-radius: 50px;
    padding: 15px 30px;
    font-size: 1.1em;
}

.submit-button {
    padding: 15px 100px;
    border-radius: 30px;
    max-width: 600px;
    border: 1px solid slategrey;
    font-size: 1.1em;
    margin-bottom: 20px;

}

.submit-button:hover {
    background-color: slategrey;
    
}

